.resultado {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #3880ff;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin: 5px 0;
  }
  